{% extends 'base.html' %}

{% block title %}
Все рецепты
{% endblock %}

{% block body %}
    <div class="container mt-10">
    <div class="content-section">
        <h1 class="font-Roboto-Black mt-10">Рецепты</h1>
    <div class="media">
    {% if recipes|length > 0 %}
        {% for recipe in recipes %}
    <div class="content-section mr-md-4 my-4">
    <div class="media-body">
        <img class="rounded-circle recipe-img" src="{{ url_for('static', filename='photos/' + recipe.image_file) }}" width="150" height="150">
        <h3 class="recipe-heading">{{ recipe.name }}</h3>
        <div class="content-section">
        <a class="recipe-heading" href="/categories/{{ recipe.category.id }}">{{ recipe.category.name }}</a>
        </div>
        {% if recipe.author.username != 'administrator' %}
        <a class="mr-2">Автор: <a href="/account/public/{{ recipe.author.id }}">{{ recipe.author.username }}</a></a>
        {% endif %}
        <div class="content-section">
        <small class="text-secondary">Дата добавления: {{ recipe.date_updated.strftime('%d-%m-%Y') }}</small>
        </div>
        <div class="content-section">
        <a class="btn btn-sm btn-outline-info" href="/recipes/{{ recipe.id }}">Детальнее</a>
        </div>
    </div>

        {% endfor %}

    {% else %}
    <p>У нас ещё нет рецептов</p>
    {% endif %}
    </div>
    </div>
    </div>
    </div>
{% endblock %}