{% extends 'base.html' %}

{% block title %}
{{ recipe.name }}
{% endblock %}

{% block body %}
<div class="container mt-10">
    <div class="content-section">
        <div class="media">
            {% if recipe == 0 %}
            <p>У нас ещё нет рецептов</p>
            {% else %}
        </div>
        <div class="media-body">
            <h2 class="recipe-heading">{{ recipe.name }}</h2>
            <h5 class="text-black">{{ recipe.ingredients }}</h5>
            <h5 class="text-black">{{ recipe.description }}</h5>
            <div class="content-section">
            <a class="recipe-heading" href="/categories/{{ recipe.category.id }}">{{ recipe.category.name }}</a>
            </div>
            <div class="content-section">
            <small class="text-secondary">Дата добавления: {{ recipe.date_updated.strftime('%d-%m-%Y') }}</small>
            </div>
            <div class="content-section">
            <a class="btn btn-sm btn-outline-danger" href="/recipes/{{ recipe.id }}/delete">Удалить</a>
            <a class="btn btn-sm btn-outline-warning" href="/recipes/{{ recipe.id }}/update">Редактировать</a>
            </div>
        </div>
            {% endif %}
    </div>
</div>
{% endblock %}